img {
  height: 400px;
  display: block;
  margin: auto;
}

section {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  align-items: center;
}

.hero > * {
  flex: 1;
}

.hero .hero-text {
  color: var(--dark);
}

.hero .buttons {
  display: flex;
  gap: 1rem;
}

.hero button {
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  color: var(--primary);
  background-color: transparent;
}

.hero .cta {
  background-color: var(--primary);
  color: #fff;
}
